<div class="flex justify-between px-3 py-3">
  <div class="flex">
    <div class="text-neutral-700 cursor-pointer hover:text-black">
      <svg width="20" height="20" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 5.75H19.25"></path>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 18.25H19.25"></path>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 12H19.25"></path>
      </svg>
    </div>
  </div>
  <div>
    <% if user_avatar(current_user)  %>
      <img src="https://github.com/apmcdowell.png" class="w-7 h-7 rounded-full bg-cover" />
    <% else  %>
      <div class="flex items-center justify-center w-7 h-7 text-xs bg-rose-400 rounded-full bg-cover">AW</div>
    <% end  %>
  </div>
</div>